<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EdFi_Ods" connectionString="Database=EdFi_{0}; Data Source=tcp:localhost,1433; Integrated Security=False; User Id=sa; Password=OdsInstallPassword123;" providerName="System.Data.SqlClient" />
    <add name="EdFi_Admin" connectionString="Database=EdFi_Admin; Data Source=tcp:localhost,1433; Integrated Security=False; User Id=sa; Password=OdsInstallPassword123;" providerName="System.Data.SqlClient" />
    <add name="EdFi_Security" connectionString="Database=EdFi_Security; Data Source=tcp:localhost,1433; Integrated Security=False; User Id=sa; Password=OdsInstallPassword123;" providerName="System.Data.SqlClient" />
    <add name="EdFi_master" connectionString="Database=master; Data Source=tcp:localhost,1433; Integrated Security=False; User Id=sa; Password=OdsInstallPassword123;" providerName="System.Data.SqlClient" />
    <add name="EduIdContext" connectionString="Database=EduID_Db; Data Source=tcp:localhost,1433; Integrated Security=False; User Id=sa; Password=OdsInstallPassword123;" providerName="System.Data.SqlClient" />
    <add name="BulkOperationDbContext" connectionString="Database=EdFi_Bulk; Data Source=tcp:localhost,1433; Integrated Security=False; User Id=sa; Password=OdsInstallPassword123;" providerName="System.Data.SqlClient" />
    <add name="UniqueIdIntegrationContext" connectionString="Database=UniqueId; Data Source=tcp:localhost,1433; Integrated Security=False; User Id=sa; Password=OdsInstallPassword123;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
