# Web.config connection string replacement. Format is CONNSTR_ConnstrName. IE: CONNSTR_Edfi_Ods
# CONNSTR_Edfi_Ods=Database=EdFi_{0}; Data Source=tcp:172.17.144.1,1433; Integrated Security=False;User Id=edfi;Password=EdFiODS2018;MultipleActiveResultSets=True;
# CONNSTR_Edfi_Admin=Database=EdFi_Admin; Data Source=tcp:172.17.144.1,1433; Integrated Security=False;User Id=edfi;Password=EdFiODS2018;MultipleActiveResultSets=True;
# CONNSTR_Edfi_Security=Database=EdFi_Security; Data Source=tcp:172.17.144.1,1433; Integrated Security=False;User Id=edfi;Password=EdFiODS2018;MultipleActiveResultSets=True;
# CONNSTR_Edfi_master=Database=master; Data Source=tcp:172.17.144.1,1433; Integrated Security=False;User Id=edfi;Password=EdFiODS2018;MultipleActiveResultSets=True;
# CONNSTR_BulkOperationDbContext=Database=EdFi_Bulk; Data Source=tcp:172.17.144.1,1433; Integrated Security=False;User Id=edfi;Password=EdFiODS2018;MultipleActiveResultSets=True;
# CONNSTR_UniqueIdIntegrationContext=Database=UniqueId; Data Source=tcp:172.17.144.1,1433; Integrated Security=False;User Id=edfi;Password=EdFiODS2018;MultipleActiveResultSets=True;
# App Settings. Override default using APPSETTING_SettingName. Example: APPSETTING_PreserveLoginUrl=true
# APPSETTING_OAuthUrl=http://localhost:8000/oauth/
# APPSETTING_owin:AutomaticAppStartup=false
# APPSETTING_webpages:Version=3.1.0.0
# APPSETTING_webpages:Enabled=false
# APPSETTING_PreserveLoginUrl=true
# APPSETTING_ClientValidationEnabled=true
# APPSETTING_UnobtrusiveJavaScriptEnabled=true
# APPSETTING_DefaultApplicationName=Default Sandbox Application
# APPSETTING_DefaultClaimSetName=Ed-Fi Sandbox
# APPSETTING_Microsoft.ServiceBus.X509RevocationMode=NoCheck
# APPSETTING_smtp:UserName=Bingo
# APPSETTING_smtp:Password=Tingo
