# App Settings. Override default using APPSETTING_SettingName. Example: APPSETTING_PreserveLoginUrl=true
APPSETTING_owin:AppStartup=SwaggerUiStartup
# APPSETTING_swagger.webApiMetadataUrl=http://localhost:8000/metadata/{section}/api-docs
APPSETTING_swagger.prepopulatedKey=populatedSandbox
APPSETTING_swagger.prepopulatedSecret=populatedSandboxSecret
APPSETTING_Microsoft.ServiceBus.X509RevocationMode=NoCheck

#For local dev, we'll run with Debug configuration
RUN_ENV=Debug