# Default log level is WARN. INFO and ERROR are other possible values.
# LOG4NET_LOG_LEVEL=WARN
# Web.config connection string replacement. Format is CONNSTR_ConnstrName. IE: CONNSTR_Edfi_Ods
# CONNSTR_Edfi_Ods=Database=EdFi_{0}; Data Source=ed-fi-server; Integrated Security=False;User Id=edfi;Password=EdFiODS2018;MultipleActiveResultSets=True;
# CONNSTR_Edfi_Admin=Database=EdFi_Admin; Data Source=ed-fi-server; Integrated Security=False;User Id=edfi;Password=EdFiODS2018;MultipleActiveResultSets=True;
# CONNSTR_Edfi_Security=Database=EdFi_Security; Data Source=ed-fi-server; Integrated Security=False;User Id=edfi;Password=EdFiODS2018;MultipleActiveResultSets=True;
# CONNSTR_Edfi_master=Database=master; Data Source=ed-fi-server; Integrated Security=False;User Id=edfi;Password=EdFiODS2018;MultipleActiveResultSets=True;
# CONNSTR_BulkOperationDbContext=Database=EdFi_Bulk; Data Source=ed-fi-server; Integrated Security=False;User Id=edfi;Password=EdFiODS2018;MultipleActiveResultSets=True;
# App Settings. Override default using APPSETTING_SettingName. Example: APPSETTING_PreserveLoginUrl=true
# APPSETTING_owin:appStartup=ConfigSpecificSandbox
# APPSETTING_PreserveLoginUrl=true
# APPSETTING_BulkOperationWorkingFolder=c:\temp
# APPSETTING_DescriptorNamespacePrefix=http://ed-fi.org
# APPSETTING_BearerTokenTimeoutMinutes=30
# APPSETTING_QueuePrefix=EdFiOds
# APPSETTING_QueueAutoCreate=1
# APPSETTING_CommitUploadCommandMessageEndPoint=localhost
# APPSETTING_Microsoft.ServiceBus.X509RevocationMode=NoCheck

#For local dev, we'll turn off HTTPS and run with Debug configuration
RUN_ENV=Debug
DO_NOT_REQUIRE_HTTPS=True