version: '3'
services:
  web-api:
    build: .
    env_file: 
      - EdFi.Ods.WebApi.env
    image: "edfi-web-api:${TAG}"
    ports: 
      - "${WEB_API_PORT}:443"
    environment:
      - CONNSTR_Edfi_Ods=Database=EdFi_{0}; Data Source=edfi-database; Integrated Security=False;User Id=${DATABASE_LOGIN};Password=${DATABASE_PASSWORD};MultipleActiveResultSets=True;
      - CONNSTR_Edfi_Admin=Database=EdFi_Admin; Data Source=edfi-database; Integrated Security=False;User Id=${DATABASE_LOGIN};Password=${DATABASE_PASSWORD};MultipleActiveResultSets=True;
      - CONNSTR_Edfi_Security=Database=EdFi_Security; Data Source=edfi-database; Integrated Security=False;User Id=${DATABASE_LOGIN};Password=${DATABASE_PASSWORD};MultipleActiveResultSets=True;
      - CONNSTR_Edfi_master=Database=master; Data Source=edfi-database; Integrated Security=False;User Id=${DATABASE_LOGIN};Password=${DATABASE_PASSWORD};MultipleActiveResultSets=True;
      - CONNSTR_BulkOperationDbContext=Database=EdFi_Bulk; Data Source=edfi-database; Integrated Security=False;User Id=${DATABASE_LOGIN};Password=${DATABASE_PASSWORD};MultipleActiveResultSets=True;
      - CERT_FILE_NAME
      - CERT_PASSWORD
    volumes:
      - ${CERT_PATH}:C:\cert
      - ${API_LOG_PATH}:C:\ProgramData\Ed-Fi-ODS-API

  edfi-database:
    image: "edfi-restapi-database:${TAG}"
    ports: 
      - "${DATABASE_PORT}:1433"
    environment:
      - sa_password=${SA_PASSWORD}
      - ACCEPT_EULA=Y
      - InstallType=${INSTALL_TYPE}
    volumes:
      - ${DATA_FOLDER}:C:\SQL

networks:
  default:
    external:
      name: nat

